<div class="bg-[--color--red] flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sign__up--page sm:mx-auto sm:w-full sm:max-w-sm">
        <%= image_tag "yum-list-new-logo.jpg", alt: "Yum List Logo", class: "w-40 h-40 absolute top-[8%] left-[50%] -translate-x-2/4" %>
  </div>

  <div class="mt-20 sm:mx-auto sm:w-full sm:max-w-sm z-10">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false }, class: "space-y-6" }) do |f| %>
      <div>
        <label for="name" class="block text-sm font-medium leading-6 text-white">Name</label>
        <div class="mt-2">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "block w-full rounded-full border-0 bg-white/20 py-1.5 text-white shadow-sm sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-white">Email address</label>
        <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-full border-0 bg-white/20 py-1.5 text-white shadow-sm sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium leading-6 text-white">Password</label>
        <% if @minimum_password_length %>
        <p class="text-xs text-[#333]">(<%= @minimum_password_length %> characters minimum)</p>
        <% end %>
        <div class="mt-2">
            <%= f.password_field :password, autocomplete: "new-password", class: "block w-full rounded-full border-0 bg-white/20 py-1.5 text-white shadow-sm sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <label for="password_confirmation" class="block text-sm font-medium leading-6 text-white">Confirm Password</label>
        <div class="mt-2">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full rounded-full border-0 bg-white/20 py-1.5 text-white shadow-sm sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-full bg-white/30 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-white hover:text-[--color--red]">Sign Up</button>
      </div>
    <% end %>
  </div>
</div>
