<div class="bg-[--color--red] flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sign__up--page sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign up for an account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false }, class: "space-y-6" }) do |f| %>
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-white">Email address</label>
        <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-full border-0 bg-white/20 py-1.5 text-white shadow-sm sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium leading-6 text-white">Password</label>
        <% if @minimum_password_length %>
        <p class="text-xs text-[#333]">(<%= @minimum_password_length %> characters minimum)</p>
        <% end %>
        <div class="mt-2">
            <%= f.password_field :password, autocomplete: "new-password", class: "block w-full rounded-full border-0 bg-white/20 py-1.5 text-white shadow-sm sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <label for="password_confirmation" class="block text-sm font-medium leading-6 text-white">Confirm Password</label>
        <div class="mt-2">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full rounded-full border-0 bg-white/20 py-1.5 text-white shadow-sm sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-full bg-white/30 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-white hover:text-[--color--red]">Sign Up</button>
      </div>
    <% end %>
  </div>
</div>
