<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">

    <h2 class="pt-4 text-2xl font-semibold text-[--color--text--primary] mb-4">Edit Your Profile</h2>

    <%= form_for @user, url: user_path, method: :patch, html: { class: "flex flex-col gap-2" } do |f| %>

      <div class="flex flex-col mb-2">
        <%= f.label :name, class: "mb-1 font-semibold" %>
        <%= f.text_field :name, class: "border-0 rounded-full p-4" %>
      </div>

      <div class="flex flex-col mb-2">
        <%= f.label :email, class: "mb-1 font-semibold" %>
        <%= f.email_field :email, class: "border-0 rounded-full p-4" %>
      </div>

      <div class="flex flex-col mb-2">
        <%= f.label :password, class: "mb-1 font-semibold" %>
        <%= f.password_field :password, autocomplete: "off", class: "border-0 rounded-full p-4" %>
      </div>

      <div class="flex flex-col mb-2">
        <%= f.label :password_confirmation, class: "mb-1 font-semibold" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "border-0 rounded-full p-4" %>
      </div>

      <div>
        <%= f.submit "Save changes", class: "w-fit text-white bg-[--color--red] hover:bg-[--color--burgundy] transition duration-200 ease-in-out group flex gap-x-3 rounded-full py-2 px-4 text-sm leading-6 font-semibold" %>
      </div>
    <% end %>

  </div>
</main>
