<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">

    <h1 class="mt-4 pt-4 text-2xl font-semibold text-[--color--text--primary]">Friends List</h1>

    <% if @friends.any? %>

      <p class="mt-6 mb-1 text-[--color--text--primary]">Friends</p>
      <ul>
        <% @friends.each do |friend| %>
            <% friendship = current_user.friendships.find_by(friend_id: friend.id) || current_user.inverse_friendships.find_by(user_id: friend.id) %>

            <% if friendship&.accepted? %>
              <li class="flex justify-between gap-1 relative overflow-hidden p-4 mb-6 text-base rounded-xl font-semibold text-white bg-[--color--red]">
                <%= link_to user_restaurants_path(friend), class: "flex flex-col" do %>
                <span><%= friend.name.present? ? friend.name : friend.email %></span>
                <span class="w-fit mt-2 flex items-center gap-2 text-sm font-light bg-white text-[--color--red] rounded-full p-2">
                    <span>
                    See their <%= friend.restaurants.count %> restaurants
                    </span>
                    <svg width="16px" height="16px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#b1454a">
                    <path d="M3 12L21 12M21 12L12.5 3.5M21 12L12.5 20.5" stroke="#b1454a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
                <% end %>
                  <%= form_with(url: friendship_path(friendship), method: :delete, data: { confirm: 'Are you sure you want to remove this friend?' }, html: { class: 'inline' }) do %>
                    <button type="submit" class="absolute right-4 top-[50%] -translate-y-2/4 flex items-center gap-2 text-sm font-light text-white">
                      <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="white"><path d="M20 9L18.005 20.3463C17.8369 21.3026 17.0062 22 16.0353 22H7.96474C6.99379 22 6.1631 21.3026 5.99496 20.3463L4 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 6L15.375 6M3 6L8.625 6M8.625 6V4C8.625 2.89543 9.52043 2 10.625 2H13.375C14.4796 2 15.375 2.89543 15.375 4V6M8.625 6L15.375 6" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </button>
                  <% end %>
              </li>
            <% end %>
        <% end %>
      </ul>

      <!-- Afficher les demandes en attente en second -->
      <p class="mt-6 mb-1 text-[--color--text--primary]">Pending requests</p>
      <ul>
        <% @friends.each do |friend| %>
            <% friendship = current_user.friendships.find_by(friend_id: friend.id) || current_user.inverse_friendships.find_by(user_id: friend.id) %>

            <% if friendship&.pending? %>
              <li class="flex justify-between items-center gap-1 relative overflow-hidden p-4 mb-6 text-base rounded-xl font-semibold text-[--color--red] border border-[--color--red]">
                <div class="flex flex-col">
                    <span><%= friend.name.present? ? friend.name : friend.email %></span>
                    <%= form_with(url: friendship_resend_request_path(friendship), method: :post) do %>
                        <button type="submit" class="flex items-center gap-2 text-sm font-light text-[--color--red] bg-white hover:bg-white/50 rounded-full p-2 mt-2">
                        <?xml version="1.0" encoding="UTF-8"?><svg width="16px" height="16px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#b1454a"><path d="M6.67742 20.5673C2.53141 18.0212 0.758026 12.7584 2.71678 8.1439C4.87472 3.0601 10.7453 0.68822 15.8291 2.84617C20.9129 5.00412 23.2848 10.8747 21.1269 15.9585C20.2837 17.945 18.8736 19.5174 17.1651 20.5673" stroke="#b1454a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17 16V20.4C17 20.7314 17.2686 21 17.6 21H22" stroke="#b1454a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22.01L12.01 21.9989" stroke="#b1454a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        Resend request
                        </button>
                    <% end %>
                </div>
                  <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#b1454a"><path d="M12 12C15.866 12 19 8.86599 19 5H5C5 8.86599 8.13401 12 12 12ZM12 12C15.866 12 19 15.134 19 19H5C5 15.134 8.13401 12 12 12Z" stroke="#b1454a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 2L12 2L19 2" stroke="#b1454a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 22H12L19 22" stroke="#b1454a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </li>
            <% end %>
        <% end %>
      </ul>
    <% else %>
      <p>You have no friends yet.</p>
    <% end %>
  </div>
</main>
