<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-900">
  <body class="h-full">
  ```
-->
<div class="bg-[--color--red] flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag "yum-list-logo.svg", alt: "Yum List Logo", class: "w-48 h-48 absolute top-[8%] left-[50%] -translate-x-2/4" %>
  </div>

  <div class="mt-20 sm:mx-auto sm:w-full sm:max-w-sm z-10">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false }, class: "space-y-6" }) do |f| %>
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-white">Email address</label>
        <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-full bg-white/20 py-1.5 text-white border-0 shadow-sm sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-white">Password</label>
        </div>
        <div class="mt-2">
            <%= f.password_field :password, autocomplete: "current-password", class: "block w-full rounded-full bg-white/20 py-1.5 text-white border-0 shadow-sm sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-full bg-white/20 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-white hover:text-[--color--burgundy]">Sign in</button>
      </div>
    <% end %>
  </div>

  <div class="mt-4 text-center">
    <p class="text-white">If you don't have an account</p>
    <a href="<%= new_user_registration_path %>" class="text-[--color--text--primary] hover:text-black">Sign Up</a>
  </div>

</div>
