<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">
    <%= form_for @restaurant, url: restaurant_path(@restaurant), method: :patch, local: true do |f| %>
      <div class="">
        <div class="px-4 py-6 sm:p-8">
          <div class="grid grid-cols-2 gap-x-6 gap-y-8 sm:grid-cols-6">

            <div class="col-span-6">
                <%= f.label :name, "Name", class: "block text-sm font-medium leading-6 text-[--color--text--primary]" %>
                <div class="mt-2">
                    <%= f.text_field :name, id: "name-edit-autocomplete", value: f.object.name, class: "block w-full rounded-full border-0 bg-white py-1.5 text-[--color--text--primary] shadow-sm ring-1 ring-inset ring-white/10 focus:ring-1 focus:ring-inset focus:ring-[--color--text--secondary] sm:text-sm sm:leading-6" %>
                </div>
            </div>

            <div class="col-span-6">
                <%= f.label :address, "Address", class: "block text-sm font-medium leading-6 text-[--color--text--primary]" %>
                <div class="mt-2">
                    <%= f.text_field :address, id: "address-edit-autocomplete", value: f.object.address, class: "block w-full rounded-full border-0 bg-white py-1.5 text-[--color--text--primary] shadow-sm ring-1 ring-inset ring-white/10 focus:ring-1 focus:ring-inset focus:ring-[--color--text--secondary] sm:text-sm sm:leading-6" %>
                </div>
            </div>

            <div class="col-span-6">
              <%= f.label :description, "Description", class: "block text-sm font-medium leading-6 text-[--color--text--primary]" %>
              <div class="mt-2">
                <%= f.text_field :description, autocomplete: "description", class: "block w-full rounded-full border-0 bg-white py-1.5 text-[--color--text--primary] shadow-sm ring-1 ring-inset ring-white/10 focus:ring-1 focus:ring-inset focus:ring-[--color--text--secondary] sm:text-sm sm:leading-6" %>
              </div>
            </div>

            <div class="col-span-3">
              <%= f.label :category, "Category", class: "block text-sm font-medium leading-6 text-[--color--text--primary]" %>
              <%= f.select :category, options_for_select([
                "Japanese",
                "Korean",
                "Ramen",
                "Sushi",
                "BBQ",
                "Italian",
                "Pizza",
                "Burger",
                "Vegan",
                "Indian",
                "Mexican",
                "French",
                "Brunch",
                "Gastro",
                "Bar",
                "Patisserie",
                "Other"
                ], @restaurant.category), { include_blank: 'Select a category' }, class: "mt-2 block w-full rounded-full border-0 py-1.5 pl-3 pr-10 text-gray-900 sm:text-sm sm:leading-6" %>
            </div>

            <div class="col-span-3 select__edit">
                <%= f.label :rating, "Rating", class: "block text-sm font-medium leading-6 text-[--color--text--primary] mr-2" %>
                <div class="mt-2">
                    <%= f.select :rating, options_for_select([['?', nil], 1, 2, 3, 4, 5], @restaurant.rating), class: "block w-full rounded-full border-0 bg-white py-1.5 text-[--color--text--primary] shadow-sm ring-1 ring-inset ring-white/10 focus:ring-1 focus:ring-inset focus:ring-[--color--text--secondary] sm:text-sm sm:leading-6" %>
                </div>
            </div>

            <div class="col-span-6 flex items-center justify-between">
                <div class="">
                <%= f.label :tested, class:"block text-sm font-medium leading-6 text-[--color--text--primary] mr-2" %>
                <%= f.check_box :tested, class:"h-4 w-4 rounded border-gray-300 text-[--color--text--secondary] focus:ring-[--color--text--secondary] cursor-pointer" %>
            </div>


            <div class="">
                <%= f.submit "Update restaurant", class: "rounded-full bg-[--color--red] px-3 py-1.5 text-sm border-0 font-semibold leading-6 text-white shadow-sm hover:bg-[--color--burgundy] cursor-pointer" %>
            </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
