<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">

    <%# <h2 class="p-4 mt-6 text-2xl rounded-xl font-semibold text-white bg-[--color--red]">
      All restaurants
    </h2> %>

    <% if @restaurants.any? %>
      <%= form_with(url: restaurants_path, method: :get, local: true, id: "search-form", html: { class: "mt-4" }) do %>
        <div class="relative mb-6">
            <input
            type="text"
            name="query"
            placeholder="Search..."
            class="w-full py-2 px-4 border-none mt-4 rounded-full"
            value="<%= params[:query] %>"
            id="search-input"
            >
        </div>

        <div class="flex space-x-4">
            <!-- Bouton de recherche -->
            <button type="submit" class="w-fit text-white bg-[--color--red] hover:bg-[--color--burgundy] transition duration-200 ease-in-out group flex gap-x-3 rounded-full py-2 px-4 text-sm leading-6 font-semibold">
            Search
            </button>

            <!-- Bouton de réinitialisation -->
            <% if params[:query].present? %>
            <%= link_to 'Reset', restaurants_path, class: 'w-fit text-[--color--red] border border-[--color--red] hover:shadow-lg transition duration-200 ease-in-out group flex gap-x-3 rounded-full py-2 px-4 text-sm leading-6 font-semibold', method: :get %>
            <% end %>
        </div>
      <% end %>
    <% end %>



    <div class="gap-4 my-6 overflow-x-auto w-full grid grid-flow-col auto-cols-max min-h-[60px]">
      <% categories = [] %>
      <% @restaurants.each do |restaurant| %>
        <% unless categories.include?(restaurant.category) %>
          <% categories << restaurant.category %>
          <a href="#<%= restaurant.category.parameterize %>" class="w-fit h-fit flex gap-2 items-center justify-center py-2 px-4 bg-white text-[--color--text--primary] hover:text-gray-900 rounded-full hover:shadow-lg transition duration-200 ease-in-out">
            <% if restaurant.category == "Asian" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path><path stroke="currentColor" stroke-width="1.5" d="M2 12h7M15 12h7"></path></svg>
            <% elsif restaurant.category == "Ramen" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2m0 20C6.5 22 2 17.5 2 12S6.5 2 12 2m0 20V12m0-10v10m0 0 5 5.5M12 12l5-5m-5 5h7"></path></svg>
            <% elsif restaurant.category == "Sushi" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M10.5 9s0-2-1-4c4 0 6.5 2.5 6.5 2.5s3.5-.5 6 4.5c-1 5.5-6 6-6 6l-4 2.5v-3c-2.5-1-5-3.5-5-5S10.5 9 10.5 9Zm0 0s1-.5 2-.5M2 9.5l1 3-1 3s5 0 5-3-5-3-5-3ZM17 12.01l.01-.011"></path></svg>
            <% elsif restaurant.category == "Japanese BBQ" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M8.5 14.5 5 22M8 6s1-1.061 1-2c0-1.333-1-2-1-2M12 6s1-1.061 1-2c0-1.333-1-2-1-2M16 6s1-1.061 1-2c0-1.333-1-2-1-2"></path><path stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" d="M16.5 17.5h-9"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m15.5 14.5 2.1 4.5M18.5 22a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path><path stroke="currentColor" stroke-width="1.5" d="M12 15a7 7 0 0 0 6.975-6.4.563.563 0 0 0-.575-.6H5.6a.563.563 0 0 0-.575.6A7 7 0 0 0 12 15Z"></path></svg>
            <% elsif restaurant.category == "Pizza" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m14 9.01.01-.011M8 8.01l.01-.011M8 14.01l.01-.011"></path><path stroke="currentColor" stroke-width="1.5" d="M6 19 2.236 3.004a.6.6 0 0 1 .754-.713L19 7"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" d="M22.198 8.425a1.75 1.75 0 0 0-3.396-.85c-.391 1.568-1.9 4.05-4.227 6.375-2.3 2.301-5.148 4.194-7.968 4.845a1.75 1.75 0 1 0 .787 3.41c3.68-.849 7.082-3.206 9.656-5.78 2.549-2.549 4.54-5.568 5.148-8Z"></path></svg>
            <% elsif restaurant.category == "Brunch" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 22a8 8 0 0 0 8-8c0-4.418-3.582-12-8-12S4 9.582 4 14a8 8 0 0 0 8 8Z"></path></svg>
            <% elsif restaurant.category == "Bar" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M8 22h4m4 0h-4m0 0v-7M6.578 10.048C7.783 12.682 12 15 12 15s4.217-2.318 5.422-4.952c1.3-2.845 0-8.048 0-8.048H6.578s-1.3 5.203 0 8.048Z"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m12.5 2-2 4h3l-2 4"></path></svg>
            <% elsif restaurant.category == "Indian" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M7 20V9S3 4 9.5 4H17c7 0 3 5 3 5v9a2 2 0 0 1-2 2H7Z"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M7 20H6a2 2 0 0 1-2-2V9S0 4 6.5 4H10"></path></svg>
            <% elsif restaurant.category == "Vegan" || restaurant.category == "Végétarien" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M7 21s.5-4.5 4-8.5"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m19.13 4.242.594 6.175c.374 3.886-2.54 7.346-6.425 7.72-3.813.367-7.267-2.42-7.634-6.233a6.936 6.936 0 0 1 6.239-7.569l6.571-.632a.6.6 0 0 1 .655.54Z"></path></svg>
            <% else %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M6 20h3m3 0H9m0 0v-5M17 20v-8s2.5-1 2.5-3V4.5M17 8.5v-4M4.5 11c1 2.128 4.5 4 4.5 4s3.5-1.872 4.5-4c1.08-2.297 0-6.5 0-6.5h-9s-1.08 4.203 0 6.5Z"></path></svg>
            <% end %>
            <h2 class="text-xl font-semibold text-center">
              <%= restaurant.category %>
            </h2>
          </a>
        <% end %>
      <% end %>
    </div>
    <!-- Your content -->
    <% if @restaurants.present? %>
      <% @restaurants.group_by(&:category).each do |category, restaurants| %>
        <div class="flex items-center justify-between mb-4">
          <p class="text-lg text-[--color--text--primary]">
            <%= category %>
          </p>
          <p>
            <%= restaurants.count %>
          </p>
        </div>
        <ul role="list" class="flex gap-4 overflow-x-auto w-full mb-8">
            <% restaurants.each do |restaurant| %>
              <li>
                <a href="<%= restaurant_path(restaurant) %>" class="relative block bg-white text-[--color--text--primary] hover:text-gray-900 rounded-xl hover:shadow-lg transition duration-200 ease-in-out">
                  <% if restaurant.tested? %>
                    <div class="bg-green-500 w-2 h-2 rounded-full absolute top-2 right-2"></div>
                  <% end %>
                  <!-- Restaurant details here -->
                  <div class="w-52 h-52 relative flex items-center justify-between p-6">
                    <div class="flex flex-col gap-4 min-w-0 gap-x-4">
                        <% if restaurant.category == "Pizza" %>
                        <img src="/assets/pizza-logo.svg" alt="Pizza" class="h-20 w-20 flex-none">
                        <% elsif restaurant.category == "Ramen" %>
                        <img src="/assets/ramen-logo.svg" alt="Ramen" class="h-20 w-20 flex-none">
                        <% elsif restaurant.category == "Japanese BBQ" %>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999" xml:space="preserve"><path style="fill:#d59a4c" d="M172.853 172.362v38.847h-67.677v-38.847c0-10.727 8.657-19.423 19.336-19.423h29.004c10.68 0 19.337 8.696 19.337 19.423zm212.699-19.423h-29.004c-10.679 0-19.336 8.696-19.336 19.423v38.847h67.677v-38.847c-.001-10.727-8.658-19.423-19.337-19.423zm-115.051 0h-29.004c-10.679 0-19.336 8.696-19.336 19.423v38.847h67.677v-38.847c0-10.727-8.658-19.423-19.337-19.423z"/><path style="fill:#bc8544" d="M173.82 172.362v38.847h-20.303v-38.847c0-10.727-8.657-19.423-19.336-19.423h20.303c10.679 0 19.336 8.696 19.336 19.423zm97.648-19.423h-20.303c10.679 0 19.336 8.696 19.336 19.423v38.847h20.303v-38.847c0-10.727-8.657-19.423-19.336-19.423zm115.051 0h-20.303c10.679 0 19.336 8.696 19.336 19.423v38.847h20.303v-38.847c0-10.727-8.657-19.423-19.336-19.423z"/><path style="fill:#f24f43" d="M474.499 191.776v.112c0 58.943-47.614 106.725-106.35 106.725H143.848c-58.735 0-106.349-47.782-106.349-106.725v-.112c0-5.358 4.328-9.702 9.668-9.702h417.664c5.339 0 9.668 4.344 9.668 9.702zM149.649 450.6c-14.817 0-26.829 12.066-26.829 26.95s12.012 26.95 26.829 26.95 26.829-12.066 26.829-26.95c.001-14.884-12.011-26.95-26.829-26.95zm212.7 0c-14.817 0-26.829 12.066-26.829 26.95s12.012 26.95 26.829 26.95 26.829-12.066 26.829-26.95c0-14.884-12.012-26.95-26.829-26.95z"/><path style="fill:#ed322e" d="M474.499 191.786c0 59-47.614 106.828-106.35 106.828h-29.004c58.735 0 106.35-47.828 106.35-106.828v-9.712h19.336c5.339 0 9.668 4.348 9.668 9.712z"/><path style="fill:#b4322e" d="M161.976 477.55c0 6.839-5.519 12.382-12.327 12.382s-12.327-5.544-12.327-12.382c0-6.839 5.519-12.382 12.327-12.382s12.327 5.544 12.327 12.382zm200.373-12.382c-6.808 0-12.327 5.544-12.327 12.382 0 6.839 5.519 12.382 12.327 12.382s12.327-5.544 12.327-12.382c-.001-6.838-5.52-12.382-12.327-12.382z"/><path d="M251.585 66.182c-15.435-15.497-14.593-32.212-11.17-43.506 3.528-11.639 10.533-19.763 10.829-20.103a7.5 7.5 0 0 1 11.327 9.834c-.054.063-5.407 6.366-7.923 15.033-3.11 10.713-.636 19.923 7.564 28.156 24.725 24.824 1.987 61.181 1.008 62.717a7.496 7.496 0 0 1-10.357 2.287 7.5 7.5 0 0 1-2.287-10.357c.165-.261 17.234-27.771 1.009-44.061zm-54.19 44.072a7.5 7.5 0 0 0 12.651 8.059c.979-1.536 23.717-37.893-1.008-62.717-8.2-8.233-10.675-17.443-7.564-28.156 2.516-8.667 7.868-14.971 7.904-15.012a7.5 7.5 0 0 0-.727-10.582 7.5 7.5 0 0 0-10.582.727c-.296.341-7.301 8.465-10.829 20.103-3.423 11.294-4.265 28.009 11.17 43.506 16.174 16.238-.735 43.625-1.015 44.072zm106.356-.011a7.5 7.5 0 1 0 12.644 8.07c.979-1.536 23.717-37.893-1.008-62.717-8.2-8.233-10.675-17.443-7.564-28.156 2.516-8.667 7.868-14.971 7.923-15.033a7.502 7.502 0 0 0-.745-10.561 7.5 7.5 0 0 0-10.582.727c-.296.341-7.301 8.465-10.828 20.103-3.424 11.294-4.266 28.009 11.169 43.506 16.224 16.29-.844 43.8-1.009 44.061zM148.905 260.209c-23.428 0-45.059-11.79-57.863-31.538a7.5 7.5 0 0 0-12.586 8.16c15.581 24.031 41.917 38.378 70.449 38.378 4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5zm205.944 216.869v.971c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-.971c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5zm-212.7 0v.971c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-.971c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5zm227.7-170.88v137.756c15.334 3.44 26.829 17.203 26.829 33.608 0 18.989-15.4 34.437-34.329 34.437s-34.329-15.448-34.329-34.437c0-16.405 11.495-30.168 26.829-33.608v-60.087h-197.7v60.087c15.334 3.44 26.829 17.203 26.829 33.608 0 18.989-15.4 34.437-34.329 34.437s-34.329-15.448-34.329-34.437c0-16.405 11.495-30.168 26.829-33.608V306.198c-61.997-.914-112.15-51.821-112.15-114.264 0-9.488 7.701-17.207 17.168-17.207h50.509v-2.207c0-14.841 12.039-26.914 26.837-26.914h29.004c14.798 0 26.836 12.073 26.836 26.914v2.207h34.308v-2.207c0-14.841 12.039-26.914 26.837-26.914h29.004c14.798 0 26.837 12.073 26.837 26.914v2.207h32.373v-2.207c0-14.841 12.039-26.914 26.837-26.914h29.004c14.798 0 26.837 12.073 26.837 26.914v2.207h52.442c9.467 0 17.168 7.719 17.168 17.207-.001 62.443-50.154 113.35-112.151 114.264zm-25.138-131.471h52.678v-2.207c0-6.569-5.31-11.914-11.837-11.914h-29.004c-6.527 0-11.837 5.345-11.837 11.914v2.207zm-115.051 0h52.678v-2.207c0-6.569-5.31-11.914-11.837-11.914h-29.004c-6.527 0-11.837 5.345-11.837 11.914v2.207zm-80.011 283.399c-10.658 0-19.329 8.719-19.329 19.436S138.991 497 149.649 497s19.329-8.72 19.329-19.437-8.67-19.437-19.329-19.437zm212.7 0c-10.658 0-19.329 8.719-19.329 19.436S351.69 497 362.349 497s19.329-8.72 19.329-19.437-8.671-19.437-19.329-19.437zm104.65-266.192c0-1.217-.973-2.207-2.168-2.207H153.518c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5h11.835v-2.207c0-6.569-5.31-11.914-11.836-11.914h-29.004c-6.527 0-11.837 5.345-11.837 11.914v2.207h13.286c4.143 0 7.5 3.357 7.5 7.5s-3.357 7.5-7.5 7.5H47.167c-1.195 0-2.168.99-2.168 2.207 0 54.742 44.344 99.277 98.85 99.277h155.657c4.143 0 7.5 3.357 7.5 7.5s-3.357 7.5-7.5 7.5H157.149v62.656h197.7v-62.656h-22.471c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5h35.771c54.506 0 98.85-44.535 98.85-99.277z"/></svg>
                        <% elsif restaurant.category == "Asian" %>
                        <img src="/assets/onigiri-logo.svg" alt="Onigiri" class="h-20 w-20 flex-none">
                        <% elsif restaurant.category == "Sushi" %>
                        <img src="/assets/sushi-logo.svg" alt="Sushi" class="h-20 w-20 flex-none">
                        <% elsif restaurant.category == "Brunch" %>
                        <img src="/assets/eggs-logo.svg" alt="Eggs" class="h-20 w-20 flex-none">
                        <% elsif restaurant.category == "Burger" %>
                        <img src="/assets/burger-logo.svg" alt="Burger" class="h-20 w-20 flex-none">
                        <% elsif restaurant.category == "Vegan" %>
                        <img src="/assets/vegan-logo.svg" alt="Vegan" class="h-20 w-20 flex-none">
                        <% elsif restaurant.category == "Indian" %>
                        <img src="/assets/indian-logo.svg" alt="Indian" class="h-20 w-20 flex-none">
                        <% else %>
                        <img src="/assets/restaurant-logo.svg" alt="Restaurant" class="h-20 w-20 flex-none">
                        <% end %>
                      <div class="min-w-0 flex-auto">
                        <p class="text-sm font-semibold leading-6 text-gray-900">
                          <%= restaurant.name %>
                        </p>
                        <p class="mt-1 flex text-xs leading-5 text-gray-500">
                          <%= restaurant.description %>
                        </p>
                      </div>
                    </div>
                    <div class="flex shrink-0 items-center gap-x-4">
                      <div class="hidden sm:flex sm:flex-col sm:items-end">
                        <p class="text-sm leading-6 text-indigo-600"><%= restaurant.category %></p>
                        <p class="text-sm leading-6 text-gray-500"><%= "★" * restaurant.rating.to_i %></p>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            <% end %>
        </ul>
      <% end %>
      <% else %>
      <p class="text-[--color--text--primary] text-center">Aucun restaurant dans ma liste !</p>
      <%= link_to new_restaurant_path, class: "text-center text-gray-400 hover:text-white hover:bg-gray-800 group flex justify-center rounded-md p-2 text-sm leading-6 font-semibold" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor">
          <path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M6 12h6m6 0h-6m0 0V6m0 6v6"></path>
        </svg>
        Ajouter mon premier restaurant
      <% end %>
    <% end %>

  </div>
</main>
