<h1>Détails du restaurant</h1>

<h2>Nom : <%= @restaurant.name %></h2>
<p>Adresse : <%= @restaurant.address %></p>
<p>Catégorie : <%= @restaurant.category %></p>
<p>Description : <%= @restaurant.description %></p>

<%= link_to "Retour à la liste des restaurants", restaurants_path %>
