<main class="pt-16 pb-28 lg:pl-72">
  <% if !@editable %>
   <p class="px-4 pt-4 text-xs font-semibold text-[--color--text--primary]">Added by <%= @restaurant.user.name.presence || @restaurant.user.email %> <br> <span class="font-light">on <%= @restaurant.created_at.strftime("%d %B %Y") %></span></p>
  <% else %>
     <p class="px-4 pt-4 text-xs font-light text-[--color--text--primary]">Added on <%= @restaurant.created_at.strftime("%d %B %Y") %></p>
  <% end %>
  <div class="single__card px-4 lg:px-12 pb-4 pt-2">
    <div class="mx-auto lg:mx-0">

        <% if @editable %>
            <div class="flex gap-4 w-full justify-end">
            <%= link_to edit_restaurant_path(@restaurant), class: "hover:shadow-inner hover:scale-105 p-1 rounded-full" do %>
                <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#333">
                <path d="M14.3632 5.65156L15.8431 4.17157C16.6242 3.39052 17.8905 3.39052 18.6716 4.17157L20.0858 5.58579C20.8668 6.36683 20.8668 7.63316 20.0858 8.41421L18.6058 9.8942M14.3632 5.65156L4.74749 15.2672C4.41542 15.5993 4.21079 16.0376 4.16947 16.5054L3.92738 19.2459C3.87261 19.8659 4.39148 20.3848 5.0115 20.33L7.75191 20.0879C8.21972 20.0466 8.65806 19.8419 8.99013 19.5099L18.6058 9.8942M14.3632 5.65156L18.6058 9.8942" stroke="#333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <% end %>
            <%= link_to restaurant_path(@restaurant), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce restaurant ?", turbo_method: :delete, turbo_confirm: "Delete #{@restaurant.name}?" }, class: "hover:shadow-inner hover:scale-105 p-1 rounded-full" do %>
                <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#333">
                <path d="M20 9L18.005 20.3463C17.8369 21.3026 17.0062 22 16.0353 22H7.96474C6.99379 22 6.1631 21.3026 5.99496 20.3463L4 9" stroke="#333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 6L15.375 6M3 6L8.625 6M8.625 6V4C8.625 2.89543 9.52043 2 10.625 2H13.375C14.4796 2 15.375 2.89543 15.375 4V6M8.625 6L15.375 6" stroke="#333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <% end %>
            </div>
        <% end %>

    <div class="bg-[--color--red] rounded-lg p-4 mt-4 mb-6">
        <p class="text-lg leading-5 text-white/70 border border-white/70 rounded-full py-1 px-2 w-fit"><%= @restaurant.category %></p>
        <h2 class="my-2 text-4xl font-bold tracking-tight text-white sm:text-6xl"><%= @restaurant.name %></h2>

        <div class="w-full flex gap-1 justify-start">
            <% if @restaurant.rating.present? %>
                <span class="text-white"><%= @restaurant.rating %></span>
                <span class="text-[#F9BD00]">★</span>
            <% end %>
        </div>
        <a href="https://www.google.com/maps/search/?api=1&query=<%= URI::encode_www_form_component(@restaurant.address) %>" target="_blank" class="flex items-start gap-2 my-6">
            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="white"><path d="M20 10C20 14.4183 12 22 12 22C12 22 4 14.4183 4 10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10Z" stroke="white" stroke-width="1.5"></path><path d="M12 11C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10C11 10.5523 11.4477 11 12 11Z" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <p class="text-xs leading-5 text-white">
                <%= @restaurant.address.gsub(/\n/, '<br>').html_safe %>
            </p>
        </a>
    </div>
    <% if @restaurant.description.present? %>
        <div class="w-screen bg-[#FEF0DE] flex flex-col gap-4 justify-between items-center ml-[-1.5rem] px-6 my-4">
        <p class="w-full my-6 text-xs leading-5 font-semibold text-[--color--text--primary]">"<%= @restaurant.description %>"</p>
        </div>
    <% end %>
  </div>

  <% if @related_restaurants.present? %>
    <div class="related-restaurants mt-8">
        <h3 class="text-lg font-semibold text-[--color--text--primary]">Other restaurants in <%= @restaurant.category %>:</h3>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
        <% @related_restaurants.each do |related_restaurant| %>
            <li class="restaurant-card bg-white border border-gray-200 rounded-lg shadow-md p-4">
            <h4 class="text-md font-bold text-[--color--text--secondary]">
                <%= link_to related_restaurant.name, restaurant_path(related_restaurant), class: "hover:underline" %>
            </h4>
            <p class="text-sm text-gray-500"><%= related_restaurant.address %></p>
            <% if related_restaurant.rating.present? %>
                <div class="flex items-center gap-1 mt-2">
                <span class="text-[--color--text--secondary]"><%= related_restaurant.rating %></span>
                <span class="text-[#F9BD00]">★</span>
                </div>
            <% end %>
            </li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <% if @opening_hours.present? %>
        <div id="accordeon" class="flex items-center gap-2 mt-6 cursor-pointer text-[--color--red]">
            <h3 class="flex items-center gap-2 font-light text-lg text-[--color--red] leading-8">Opening hours<svg id="accordion-icon" style="width:2rem;height:2rem; transition: transform 0.2s;" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></h3>
        </div>

        <ul id="opening-hours-list" class="px-4 border border-[--color--red] rounded-lg mt-2" style="opacity: 0; max-height: 0; overflow: hidden; transition: opacity 0.2s, max-height 0.2s; background-color: white;">
            <% @opening_hours.each do |hour| %>
                <li class="border-b border-b-gray-300 py-4"><%= hour %></li>
            <% end %>
        </ul>
    <% end %>


</main>
