<main class="pt-16 pb-28 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">
    <h2 class="pt-4 text-2xl font-semibold text-white">
      Untested restaurants
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-6 gap-4 my-12">
      <% categories = [] %>
      <% @restaurants.each do |restaurant| %>
        <% unless categories.include?(restaurant.category) %>
          <% categories << restaurant.category %>
          <a href="#<%= restaurant.category.parameterize %>" class="flex flex-col gap-4 items-center justify-center p-6 border-2 border-white hover:bg-white text-white hover:text-gray-900 rounded-xl">
            <% if restaurant.category == "Asiatique" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2m0 20C6.5 22 2 17.5 2 12S6.5 2 12 2m0 20V12m0-10v10m0 0 5 5.5M12 12l5-5m-5 5h7"></path></svg>
            <% elsif restaurant.category == "Ramen" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2m0 20C6.5 22 2 17.5 2 12S6.5 2 12 2m0 20V12m0-10v10m0 0 5 5.5M12 12l5-5m-5 5h7"></path></svg>
            <% elsif restaurant.category == "Sushi" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2m0 20C6.5 22 2 17.5 2 12S6.5 2 12 2m0 20V12m0-10v10m0 0 5 5.5M12 12l5-5m-5 5h7"></path></svg>
            <% elsif restaurant.category == "Japanese BBQ" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M8.5 14.5 5 22M8 6s1-1.061 1-2c0-1.333-1-2-1-2M12 6s1-1.061 1-2c0-1.333-1-2-1-2M16 6s1-1.061 1-2c0-1.333-1-2-1-2"></path><path stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" d="M16.5 17.5h-9"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m15.5 14.5 2.1 4.5M18.5 22a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path><path stroke="currentColor" stroke-width="1.5" d="M12 15a7 7 0 0 0 6.975-6.4.563.563 0 0 0-.575-.6H5.6a.563.563 0 0 0-.575.6A7 7 0 0 0 12 15Z"></path></svg>
            <% elsif restaurant.category == "Pizza" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m14 9.01.01-.011M8 8.01l.01-.011M8 14.01l.01-.011"></path><path stroke="currentColor" stroke-width="1.5" d="M6 19 2.236 3.004a.6.6 0 0 1 .754-.713L19 7"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" d="M22.198 8.425a1.75 1.75 0 0 0-3.396-.85c-.391 1.568-1.9 4.05-4.227 6.375-2.3 2.301-5.148 4.194-7.968 4.845a1.75 1.75 0 1 0 .787 3.41c3.68-.849 7.082-3.206 9.656-5.78 2.549-2.549 4.54-5.568 5.148-8Z"></path></svg>
            <% elsif restaurant.category == "Brunch" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 22a8 8 0 0 0 8-8c0-4.418-3.582-12-8-12S4 9.582 4 14a8 8 0 0 0 8 8Z"></path></svg>
            <% elsif restaurant.category == "Bar" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M8 22h4m4 0h-4m0 0v-7M6.578 10.048C7.783 12.682 12 15 12 15s4.217-2.318 5.422-4.952c1.3-2.845 0-8.048 0-8.048H6.578s-1.3 5.203 0 8.048Z"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m12.5 2-2 4h3l-2 4"></path></svg>
            <% elsif restaurant.category == "Indian" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M7 20V9S3 4 9.5 4H17c7 0 3 5 3 5v9a2 2 0 0 1-2 2H7Z"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M7 20H6a2 2 0 0 1-2-2V9S0 4 6.5 4H10"></path></svg>
            <% elsif restaurant.category == "Vegan" || restaurant.category == "Végétarien" %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor">
                <path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M7 21s.5-4.5 4-8.5"></path><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m19.13 4.242.594 6.175c.374 3.886-2.54 7.346-6.425 7.72-3.813.367-7.267-2.42-7.634-6.233a6.936 6.936 0 0 1 6.239-7.569l6.571-.632a.6.6 0 0 1 .655.54Z"></path>
              </svg>
            <% else %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor"><path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M6 20h3m3 0H9m0 0v-5M17 20v-8s2.5-1 2.5-3V4.5M17 8.5v-4M4.5 11c1 2.128 4.5 4 4.5 4s3.5-1.872 4.5-4c1.08-2.297 0-6.5 0-6.5h-9s-1.08 4.203 0 6.5Z"></path></svg>
            <% end %>
            <h2 class="text-xl font-semibold text-center">
              <%= restaurant.category %>
            </h2>
          </a>
        <% end %>
      <% end %>
    </div>
    <!-- Your content -->
    <% if @restaurants.present? %>
      <% @restaurants.group_by(&:category).each do |category, restaurants| %>
        <h2 class="pt-4 text-xl font-semibold text-white" id="<%= category.parameterize %>">
          <%= category %>
        </h2>
        <ul role="list" class="">
          <div class="flex flex-col gap-2 my-6 overflow-hidden">
            <% restaurants.each do |restaurant| %>
              <li>
                <a href="<%= restaurant_path(restaurant) %>" class="relative block hover:bg-gray-50 bg-white shadow-sm ring-1 ring-gray-900/5 rounded-xl">
                  <% if restaurant.tested? %>
                    <div class="bg-green-500 w-2 h-2 rounded-full absolute top-2 right-2"></div>
                  <% end %>
                  <!-- Restaurant details here -->
                  <div class="relative flex justify-between gap-x-6 px-4 py-5 sm:px-6">
                    <div class="flex min-w-0 gap-x-4">
                      <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1623341214825-9f4f963727da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80" alt="">
                      <div class="min-w-0 flex-auto">
                        <p class="text-sm font-semibold leading-6 text-gray-900">
                          <%= restaurant.name %>
                        </p>
                        <p class="mt-1 flex text-xs leading-5 text-gray-500">
                          <%= restaurant.description %>
                        </p>
                      </div>
                    </div>
                    <div class="flex shrink-0 items-center gap-x-4">
                      <div class="hidden sm:flex sm:flex-col sm:items-end">
                        <p class="text-sm leading-6 text-indigo-600"><%= restaurant.category %></p>
                        <p class="text-sm leading-6 text-gray-500"><%= "★" * restaurant.rating.to_i %></p>
                      </div>
                      <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                      </svg>
                    </div>
                  </div>
                </a>
              </li>
            <% end %>
          </div>
        </ul>
      <% end %>
      <% else %>
      <p class="text-white text-center">Aucun restaurant dans ma liste !</p>
      <%= link_to new_restaurant_path, class: "text-center text-gray-400 hover:text-white hover:bg-gray-800 group flex justify-center rounded-md p-2 text-sm leading-6 font-semibold" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="currentColor">
          <path stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M6 12h6m6 0h-6m0 0V6m0 6v6"></path>
        </svg>
        Ajouter mon premier restaurant
      <% end %>
    <% end %>

  </div>
</main>
