<!DOCTYPE html>
<html>
  <head>
    <title>YumList</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#F2F1E4">
    <meta name="msapplication-TileColor" content="#F2F1E4">
    <meta name="msapplication-square70x70logo" content="/assets/images/yum-list-logo.png">
    <meta name="msapplication-square150x150logo" content="/assets/images/yum-list-logo.png">

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/assets/images/yum-list-logo.png" type="image/png" sizes="192x192">
    <link rel="apple-touch-icon" href="/assets/images/yum-list-logo.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/assets/images/yum-list-logo.png" sizes="512x512">


    <%# <!-- Ajoutez cette méta-balise pour activer le mode plein écran sur certains navigateurs -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Définissez la couleur de la barre d'adresse sur certains navigateurs mobiles -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- Définissez la couleur de fond lorsqu'il s'agit d'une application mobile sur iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <%= render "shared/navbar" %>

    <%= yield %>

    <!-- prettier-ignore -->

  </body>
  <script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
        });
        });
    }
</script>
</html>
