<!DOCTYPE html>
<html>
  <head>

    <title>Yum List</title>
    <meta name="description" content="Organize your favorite restaurants!">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="<%= theme_color_for_page %>">
    <meta name="msapplication-TileColor" content="#B1454A">
    <meta name="msapplication-square70x70logo" content="<%= image_path('yum-list-logo.png') %>">
    <meta name="msapplication-square150x150logo" content="<%= image_path('yum-list-logo.png') %>">

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('yum-list-logo.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon.ico') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon.ico') %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <%# <link rel="manifest" href="/site.webmanifest"> %>


    <%# <!-- Ajoutez cette méta-balise pour activer le mode plein écran sur certains navigateurs -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Définissez la couleur de la barre d'adresse sur certains navigateurs mobiles -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- Définissez la couleur de fond lorsqu'il s'agit d'une application mobile sur iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <%= render "shared/navbar" %>

    <%= yield %>

    <!-- prettier-ignore -->

  </body>
  <script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
        });
        });
    }
</script>
</html>
